body {
    font-family: Helvetica;
    background-color: #000;
    color: #faff00;
}
.station-header {
    font-size: 32px;
}

table {
    font-family: Courier New;
}

th {
    text-align: left; 
    padding-right: 6px;
    padding-left: 6px;
}

td {
    padding-right: 6px;
    padding-left: 6px;
}

.dest {
    min-width: 250px;
}

.scheduled {
    text-align: right;
    min-width: 80px;
}

.expected {
    text-align: right;
    min-width: 80px;
}

.status {
    min-width: 150px;
    text-align: center;
}

.track {
    text-align: center;
}

.trip {
    text-align: center;
}
